@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --codec-green: #00FF00;
  --codec-light-green: #AAFFAA;
  --codec-dark-green: #003300;
  
  /* Palette variables */
  --text-color: var(--codec-green);
  --highlight-color: var(--codec-light-green);
  --border-color: var(--codec-green);
  --background-color: #000000;
  --svg-fill: var(--codec-green);
}

/* For reduced motion settings */
.reduced-motion * {
  transition: none !important;
  animation: none !important;
}

/* For high contrast mode */
.high-contrast {
  --text-color: #FFFFFF;
  --highlight-color: #FFFFFF;
  --border-color: #FFFFFF;
  --svg-fill: #FFFFFF;
}